body,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #302e40;
    margin: 0;
    padding: 0;
}
header {
    background-color: #302e40;
    color: white;
    text-align: center;
}
nav ul {
    width: 50%;
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    padding: 10px 0;
}
nav a {
    text-decoration: none;
    color: white;
}


main {
    width: 85%;
    margin: auto;
    padding: 50px;
}
.container_main_part_one{
    display: flex;
}
main ul{
    list-style-type: none;
}
aside{
    margin-right: 30px;
}
aside div{
   margin-bottom: 20px;
}

.codi_definition{
    margin-bottom: 2em;
}
.last_tow_sections_container{
    display: flex;
    
}
.last_tow_sections_container section{
    width: 50%;
}
.form_container{
    width: 50%;
    margin: auto;
}
label, input,fieldset,button{
    margin: 15px;

}
footer {
    background-color: #302e40;
    color: white;
    text-align: center;
    height: 80px;
    padding-top: 25px;
}
footer a {
    color: #99ccff;
    text-decoration: none;
}